body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tableContainer {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

th,
td {
  border: 1px solid #ddd; /* Add border to table cells */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #e5e5e5; /* Change odd row color */
}

tr:hover {
  background-color: #ddd;
}

#form-container {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 150px;
}

form label {
  color: #333;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form input[type="checkbox"] {
  margin: 5px 0;
}

form input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.page-btn {
  margin: 15px;
}

#page-wrapper {
  margin-top: 8px;
}
form input[type="submit"]:hover {
  background-color: #555;
}
@media only screen and (max-width: 600px) {
  #container {
    grid-template-columns: repeat(1, 1fr);
  }
  table {
    width: 100%;
  }
}
